:root {
    --mainColor: #6d87e6;
    --mainColorAccent: #3964ff;
    --white: white;
    --grey: #99aab5;
    --lightBlack: #23272a;
    --lightherBlack: #2c2f33;
    --secondary: FireBrick;
    --secondaryAccent: #c81e1e;
  }

.swiper {
    width: 98%;
    height: 35vh;
  }
  
.swiper-slide {
  background-position: center;
  background-size: cover;
  color: var(--lightBlack);
}
  
.swiper-button-prev {
  left: 0;
  color: var(--mainColor);
} 
.swiper-button-next {
  right: 0;
  color: var(--mainColor);
}

.swiper-pagination-bullet {
  background-color: var(--mainColor);
}
  
.swiper-pagination {
  top: 30vh;
}

.swal-button {
  font-size: 18px !important;
  background-color: var(--secondary);
  color: var(--white);
}

.swal-button:hover {
  background-color: var(--secondaryAccent) !important;
  border: none !important;
}
